extends layout

block content
    p.float-right.hidden-md-up
      button.btn.btn-primary.btn-sm(type='button', data-toggle='offcanvas') Toggle nav
    .jumbotron
      h1 #{title}
      p
    .row
      .col-6.col-lg-4
        h2 Heading
        p
        p
          a.btn.btn-secondary(href='#', role='button') View details »
      .col-6.col-lg-4
        h2 Heading
        p
        p
          a.btn.btn-secondary(href='#', role='button') View details »
      .col-6.col-lg-4
        h2 Heading
        p
        p
          a.btn.btn-secondary(href='#', role='button') View details »
      .col-6.col-lg-4
        h2 Heading
        p
        p
          a.btn.btn-secondary(href='#', role='button') View details »
      .col-6.col-lg-4
        h2 Heading
        p
        p
          a.btn.btn-secondary(href='#', role='button') View details »
      .col-6.col-lg-4
        h2 Heading
        p
        p
          a.btn.btn-secondary(href='#', role='button') View details »
